<template>
  <div>
    <div class="text-center q-gutter-md q-mb-sm">
      <div class="text-negative text-weight-bold text-h4">Make your Order</div> 
       <div>Set your Colissimo Shippment Details.</div>
    </div>
    <q-separator />
    <q-card flat class="q-mt-sm row" style="width:100%;">

      <q-card-section class="col-md-4 col-sm-12 col-xs-12 q-pa-sm ">
        <div class="q-gutter-xs ">
          <div class="text-negative text-bold" >Destination</div>
            <q-input round outlined v-model="form.name" label="Customer Name" class="text-negative" />
            <q-input square outlined v-model="form.company" label="Company Name" />
            <q-input square outlined v-model="form.address" label="Address" />
            <q-input square outlined v-model="form.city" label="City" />
            <q-input square outlined v-model="form.zip" label="Zip" />
            <q-input square outlined v-model="form.nl" label="Country" />
            <q-input square outlined v-model="form.email" label="Email" />
            <q-input square outlined v-model="form.phone" label="Phone" />
          </div>
      </q-card-section>
      
      <q-separator />

      <q-card-section class="col-md-4 col-sm-12 col-xs-12 q-pa-sm ">
          <div class="q-gutter-xs" align="left">
            <div class="text-negative text-bold">Shipping Details</div>
            <q-input round outlined v-model="form.item" label="Parcel Item" class="text-negative" />
            <q-input round outlined v-model="form.description" type="textarea" label="Parcel Description" class="text-negative" />
            <q-input round outlined v-model="form.value" label="Parcel Item Value" class="text-negative" />
            <q-input square outlined v-model="form.shipping_method" label="Shipping Method" />
            <q-input square outlined v-model="form.weight" label="Weight" />
            <q-input type="number" square outlined v-model="form.qty" label="Quantity" />
          </div>        
      </q-card-section>

      <q-separator />

      <q-card-section class="col-md-4 col-sm-12 col-xs-12 q-pa-sm ">
        <div class="text-bold">Senders Details</div>
        <div>
          <div class="text-negative text-bold">Name: <span  class="text-black text-weight-light">{{ form.senderName }}</span> </div>
          <div class="text-negative text-bold">Company: <span class="text-black text-weight-light">{{ form.senderCompany }}</span></div>
          <div class="text-negative text-bold">Address: <span class="text-black text-weight-light">{{ form.default_sender_address }}</span></div>
        </div>
        <div style="width: 100%" class="text-justify text-weight-light text-negative text-caption q-mt-sm">
          Wiximo is an independent initiative, without any link of interest with La Poste or the Colissimo service of La Poste. Wiximo is a commercial product reserved for its registered users only.
        </div>

        <q-card-actions class="q-pa-none q-my-sm q-mr-sm" align="right">
        <confirmer :myForm="form"/>
        <q-btn  color="negative" label="Create Order" @click="order()" :to="{name: 'orders', params:{order:form}}"/>
      </q-card-actions>
      </q-card-section>

      
    </q-card>
    
  </div>
</template>

<script>
import confirmer from './PopUp/confirmer'
export default {
  // name: 'ComponentName',
  components:{
    confirmer
  },

  data () {
    return {
      open: false,

      form:{
        item: [],

        name: 'Customer Name',
        company: 'Company Name',
        address: 'Customer Address',
        city: 'Eindhoven',
        zip: '5642CV',
        nl: 'NL',// cOUNTRY
        description:'',
        email: 'test@test.test',
        phone: '+31612345678',
        service_point_ID: null, // Service point ID
        status: '20190001', // Order number PLEASE AUTO GENERATE THIS BY DATE AND TIME
        weight: '2500',
        shipping_method_ID: 8, // Shipping method ID,    CREATE DROPDOWN FOR THIS ONE I WILL POPULATE IT
        default_sender_address: '', // Default sender address
        qty: '',

        user_id: 1,
        parcel_number: '',
        tracking_number: '',
        trackingUrl: '',
        carrier: '',
        insurance: '',
        value: '',
        status: '',
        senderName: 'name',
        senderCompany: 'Company',
        date:''
      }
    }
  },

  methods: {
    async order(){ 
      await this.$axios.post('http://colissimo.test/api/parcel', this.form)
      
    }
  },  
}
</script>

<style>
.my-card{
  width: 100%
}
</style>
