<template>
 <div>
    <!-- <q-btn  color="negative" label="Create Order" @click="open = true"/> -->

    <q-dialog square v-model="open" >
      <q-card flat bordered class="q-mt-sm " style="width:100%;">

        <q-card-section>
          <q-card flat class="row">
            <q-card-section  class="col-md-6 col-sm-12 col-xs-12 q-pa-xs">
              <div class="q-gutter-sm " >

                <div class="q-gutter-xs " >
                  <div class="text-black text-h6" align="left">Destination</div>

                  <div class="text-negative text-bold">Name: <span  class="text-black text-weight-light">{{ myForm.name }}</span> </div>
                  <div class="text-negative text-bold">Company: <span class="text-black text-weight-light">{{ myForm.company }}</span></div>
                  <div class="text-negative text-bold">Address: <span class="text-black text-weight-light">{{ myForm.address }}</span></div>
                  <div class="text-negative text-bold">City: <span class="text-black text-weight-light">{{ myForm.city }}</span></div>
                  <div class="text-negative text-bold">Zip: <span class="text-black text-weight-light">{{ myForm.zip }}</span></div>
                  <div class="text-negative text-bold">Country: <span class="text-black text-weight-light">{{ myForm.nl }}</span></div>
                  <div class="text-negative text-bold">Email: <span class="text-black text-weight-light">{{ myForm.email }}</span></div>
                  <div class="text-negative text-bold">Phone: <span class="text-black text-weight-light">{{ myForm.phone }}</span></div>
                </div>

              </div>

            </q-card-section>

            <q-separator inset   class="lt-md"/>
            <q-separator inset vertical class="gt-sm"/>

            <q-card-section class="col-md-5 col-sm-12 col-xs-12 q-pa-xs">
                <div class="" >
                  <div class="text-black text-h6" align="left">Shipping Details</div>

                  <div class="text-negative text-bold">Parcel Number: <span class="text-black text-weight-light">{{ myForm.parcel_number }}</span></div>
                  <div class="text-negative text-bold">Parcel item: <span class="text-black text-weight-light">{{ myForm.senderCompany }}</span></div>
                  <div class="text-negative text-bold">Parcel Value: <span class="text-black text-weight-light">{{ myForm.value }}</span></div>
                  <div class="text-negative text-bold">Shipping Method: <span class="text-black text-weight-light">{{ myForm.shipping_method }}</span></div>
                  <div class="text-negative text-bold">Weight: <span class="text-black text-weight-light">{{ myForm.weight }}</span></div>
                  <div class="text-negative text-bold">Quantity: <span class="text-black text-weight-light">{{ myForm.qty }}</span></div>
                  <div class="text-negative text-bold">Status: <span class="text-black text-weight-light">{{ myForm.status }}</span></div>
                  <div class="text-negative text-bold">Date: <span class="text-black text-weight-light">{{ myForm.date }}</span></div>
                  <div class="text-negative text-bold">Order number: <span class="text-black text-weight-light">{{ myForm.status }}</span></div>
                  <div class="text-negative text-bold">Tracking Number: <span class="text-black text-weight-light">{{ myForm.tracking_number }}</span></div>
                  <div class="text-negative text-bold">Tracking Url: <span class="text-black text-weight-light">{{ myForm.trackingUrl }}</span></div>

                </div>
            </q-card-section>
          </q-card>
        </q-card-section>

        <q-separator />

        <q-card-section>
          <div style="width: 100%" class="text-justify text-weight-light text-negative text-caption q-px-sm">
            This are your Details confirm and make changes before you submit make sure there are no changes
          </div>

          <q-card-actions class="q-pa-none q-my-sm q-mr-sm" align="right">
            <q-btn  color="negative" label="Submit" />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ['myForm'],
  data () {
    return {
      senderName: 'name',
      senderCompany: 'Company',
      senderAddress: 'Address',
      open: false,
      fullHeight: false
    }
  }
}
</script>

<style>
</style>
