<template>
  <div>
    <q-card class="my-card">
      <q-card-section>
        <div class="text-negative text-bold">Name: <span class="text-grey-8">{{ price.name }}</span></div>
        <div class="text-negative text-bold">Amount: <span class="text-grey-8">{{ price.amount }} €</span></div>
        <div class="text-negative text-bold">Type: <span class="text-grey-8">{{ price.type }}</span></div>
        <div class="text-negative text-bold">Description: <span class="text-grey-8">{{ price.description }}</span></div>
        <div class="text-negative text-bold">Features:
          <div class="text-grey-8 column">
            <div v-for="item in price.feature" :key="item.id">
            <li>{{ item }}</li> 
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>
    
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props:['price'],
  data () {
    return {}
  }
}
</script>
