<template>
  <q-page padding style="row flex-center">

    <!-- content -->
    <!-- <div class="" style="max-width: 300px">
      <button v-on:click="purchase">Purchase</button>
      <div ref="card" class="row column"></div>
    </div> -->
  <div class="row flex-center">
    <checkOut :price="price" class="col-md-6 q-ma-xs" style="height: 431px" />
    <q-card class=" col-md-5 q-ma-xs" style="height: 431px">
      <q-card-section>
        <div class="text-h6 text-negative text-center">Your Card Details</div>
        <form >
          <div class="uk-margin uk-text-center">
            <p class="stripeError" v-if="stripeError">
              {{stripeError}}
            </p>
          </div>


          <div class="uk-margin uk-text-left">
            <label class="uk-form-label" for="Card Number">
              Card Number
            </label>
            <div class="uk-form-controls">
              <div id="card-number" class="uk-input" :class="{ 'uk-form-danger': cardNumberError }"></div>
              <span class="help-block" v-if="cardNumberError">
                                {{cardNumberError}}
                            </span>
            </div>
          </div>

          <div class="uk-grid-small uk-text-left" uk-grid>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label" for="Card CVC">
                Card CVC
              </label>
              <div class="uk-form-controls">
                <div id="card-cvc" class="uk-input" :class="{ 'uk-form-danger': cardCvcError }"></div>
                <span class="help-block" v-if="cardCvcError">
                                    {{cardCvcError}}
                                </span>
              </div>
            </div>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label" for="Expiry Month">
                Expiry
              </label>
              <div class="uk-form-controls">
                <div id="card-expiry" class="uk-input" :class="{ 'uk-form-danger': cardExpiryError }"></div>
                <span class="help-block" v-if="cardExpiryError">
                                    {{cardExpiryError}}
                                </span>
              </div>
            </div>
          </div>

          <div class="uk-margin uk-margin-remove-bottom text-center  q-gutter-sm">
            <button class="uk-button uk-button-small text-primary bg-warning uk-button-default" @click.prevent="reset()">
              reset
            </button>

            <button class="uk-button uk-button-small bg-positive text-white" @click.prevent="submitFormToCreateToken()">
              Subscribe With {{price.amount}} €
            </button>
          </div>

        </form>
      </q-card-section>
    </q-card>
    
    
  </div>
    

  </q-page>
</template>

<script>
let stripe = Stripe(`pk_test_4qkEqxcXNlTdQqJ6oU6BtpaD00rxZambCs`),
    elements = stripe.elements(),
    card = undefined;
import checkOut from '../components/checkout/index'
export default {
  // name: 'PageName',
  props:['price'],
  components:{
    checkOut
  },
  data() {
   return {
     card: {
      cvc: '',
      number: '',
      expiry: ''
    },

    //elements
    cardNumber: '',
    cardExpiry: '',
    cardCvc: '',
    stripe: null,

    // errors
    stripeError: '',
    cardCvcError: '',
    cardExpiryError: '',
    cardNumberError: '',

    loading: false,
   }
 },

  mounted() {
    this.setUpStripe();
  },

  methods: {
    setUpStripe() {
        if (window.Stripe === undefined) {
          alert('Stripe V3 library not loaded!');
        } else {
          const stripe = window.Stripe('pk_test_4qkEqxcXNlTdQqJ6oU6BtpaD00rxZambCs');
          this.stripe = stripe;

          const elements = stripe.elements();
          this.cardCvc = elements.create('cardCvc');
          this.cardExpiry = elements.create('cardExpiry');
          this.cardNumber = elements.create('cardNumber');

          this.cardCvc.mount('#card-cvc');
          this.cardExpiry.mount('#card-expiry');
          this.cardNumber.mount('#card-number');

          this.listenForErrors();
        }
      },

      listenForErrors() {
        const vm = this;

        this.cardNumber.addEventListener('change', (event) => {
          vm.toggleError(event);
          vm.cardNumberError = ''
          vm.card.number = event.complete ? true : false
        });

        this.cardExpiry.addEventListener('change', (event) => {
          vm.toggleError(event);
          vm.cardExpiryError = ''
          vm.card.expiry = event.complete ? true : false
        });

				this.cardCvc.addEventListener('change', (event) => {
          vm.toggleError(event);
          vm.cardCvcError = ''
          vm.card.cvc = event.complete ? true : false
        });
      },

      toggleError (event) {
        if (event.error) {
          this.stripeError = event.error.message;
        } else {
          this.stripeError = '';
        }
      },

      submitFormToCreateToken() {
        this.clearCardErrors();
        let valid = true;

        if (!this.card.number) {
          valid = false;
          this.cardNumberError = "Card Number is Required";
        }
        if (!this.card.cvc) {
          valid = false;
          this.cardCvcError = "CVC is Required";
        }
        if (!this.card.expiry) {
          valid = false;
          this.cardExpiryError = "Month is Required";
        }
        if (this.stripeError) {
          valid = false;
        }
        if (valid) {
          this.createToken()
        }
      },

     createToken() {
        this.stripe.createToken(this.cardNumber).then((result) => {
            if (result.error) {
              this.stripeError = result.error.message;
            } else {
              const token = result.token.id
              // alert('Thanks for donating.' + token)
                //send the token to your server
                //clear the inputs
                this.payment(token)
            }
          })
      },

    async payment(token){
      const res = await this.$axios.post('http://colissimo.test/api/payment', {amount: 1000, token:token, price_id: this.price.id })
      console.log(res.data);
    },

      clearElementsInputs() {
        this.cardCvc.clear()
        this.cardExpiry.clear()
        this.cardNumber.clear()
      },

      clearCardErrors() {
        this.stripeError = ''
        this.cardCvcError = ''
        this.cardExpiryError = ''
        this.cardNumberError = ''
      },

			reset() {
				this.clearElementsInputs()
				this.clearCardErrors()
			}
  }
}
</script>

<style>
</style>
