<template>
  <q-page class="flex flex-center">

     <div class="text-center q-gutter-md">
       <div class="text-negative text-weight-bold text-h4">FAQ</div> 
       <div>Need help ? See our Frequently Asked Questions.</div>
       <div class="q-gutter-sm">
        <!-- 
            <q-btn rounded outline color="negative" no-caps  label="Generate Labels on the go" />
            <q-btn rounded outline color="grey" no-caps  label="Generate return labels" />
         -->
       </div>

       <q-separator inset /> 
       
       <div class="flex flex-center">
           <q-list style="width:70%; max-width:500px; min-width:300px">
            <div v-for="(faq, index) in faqs" :key="index">
                <q-expansion-item popup icon="ion-help" :label="faq.question" >
                    <q-separator />
                    <q-card>
                    <q-card-section>
                        {{ faq.answer }}
                    </q-card-section>
                    </q-card>
                </q-expansion-item>
            </div>
        </q-list>
       </div>

    </div>

  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
   data () {
    return {
        faqs:[
            {question:"Lorem ipsum", answer: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste eveniet doloribus ullam aliquid."},
            {question:"Lorem ipsum", answer: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste eveniet doloribus ullam aliquid."},
            {question:"Lorem ipsum", answer: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste eveniet doloribus ullam aliquid."},
            {question:"Lorem ipsum", answer: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste eveniet doloribus ullam aliquid."},
            {question:"Lorem ipsum", answer: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste eveniet doloribus ullam aliquid."},
            
        ]
    
    }
  },

  methods: {
   
  }
}
</script>


<style>
.space{
  width:22px;
  margin: 0 2px 0 23vw;
}

.fill{
  width: 100%
}
</style>
