<template>
  <q-page class="flex flex-center">
     <q-card flat bordered class="my-card q-mt-md" style="width:80%; max-width:400px">
      <q-card-section class="text-black">
        <div class="text-h6">Intl <img :src="img" class="space"></div>
        <div class="text-subtitle2">Fill in your Colissimo Entreprise credentials.</div>
      </q-card-section>

      <q-separator inset />

      <q-card-section>

        <q-form @submit="login" >

          <!-- email input -->
          <q-input standout v-model="form.email" type="email" prefix="Email:" suffix=".com" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']">
            <template v-slot:prepend>
              <q-icon name="mail" />
            </template>
          </q-input>
          <!-- password input -->
          <q-input v-model="form.password" filled :type="isPwd ? 'password' : 'text'" hint="Password" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your password']">
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
          <!-- agreement toggle -->
          <q-toggle v-model="accept" label="I accept the license and terms"  class="q-mt-md"/>
          <!-- save button -->
          <div>
            <q-btn label="Save" type="submit" color="negative" class="q-mt-md flex-center fill" :loading="loading"/>
          </div>
        </q-form>
      
      </q-card-section>

      <q-separator inset />

      <q-card-section class="text-black">
       <q-item clickable tag="a" target="_blank" href="https://www.colissimo.entreprise.laposte.fr/fr/souscrire">
          <q-item-section avatar>
            <q-icon name="ion-ios-help" class="text-negative"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>No Colissimo Entreprise account yet?</q-item-label>
            <q-item-label caption>Create one now here .</q-item-label>
          </q-item-section>
        </q-item>

      </q-card-section>

      <q-separator inset />

      <q-card-section class="text-black">
        <div style="width: 100%" class="text-center text-weight-light text-negative text-caption">
          Wiximo is an independent initiative, without any link of interest with La Poste or the Colissimo service of La Poste. Wiximo is a commercial product reserved for its registered users only.
        </div>
      </q-card-section>
      
    </q-card>

  </q-page>
</template>

<script>
import ajaxMixing from '../components/mixing/ajaxMixin.js'
export default {
  mixins: [ajaxMixing],  
  name: 'PageIndex',
   data () {
    return {
      loading: false,
      img: "https://static.wixstatic.com/media/071902_259e6af9fedd440f9b7dc2fa6beedddd~mv2.png/v1/fill/w_60,h_60,al_c,q_80,usm_0.66_1.00_0.01/wix2colissimo_logo.webp",
      form:{
        email: '',
        password: '',
      },
      isPwd: true,
      accept: false,
      newData:[]
      
    }
  },
   mounted() {
    // this.getDatas()
  },
  methods: {
    async login(){
        const endPoint = '/api/login'
        const data = await this.postRequest(endPoint, this.form)
        // const res = data.data
        // this.$store.commit('auth/user', {data: res.data});
        // this.$router.push({name: 'orders'})
    },

    // async getDatas(){
    //  try {
    //    const res = await this.$axios.get('http://localhost:4000/api/data')
    //    console.table(res.data)
    //    this.newData =  res.data;
    //  } catch (error) {
    //    console.log(error)
    //  }
    // },

    // onSubmit () {
    //   if (this.accept !== true) {
    //     this.$q.notify({
    //       color: 'red-5',
    //       textColor: 'white',
    //       icon: 'fas fa-exclamation-triangle',
    //       message: 'You need to accept the license and terms first'
    //     })
    //   }
    //   else {
    //     this.$q.notify({
    //       color: 'green-4',
    //       textColor: 'white',
    //       icon: 'fas fa-check-circle',
    //       message: 'Submitted'
    //     })
    //   }
    // },

    // onReset () {
    //   this.form.name = null
    //   this.password = null
    //   this.accept = false
    // }
  },

 
}
</script>


<style>
.space{
  width:22px;
  margin: 0 2px 0 23vw;
}

.fill{
  width: 100%
}

.myCard{
  width: 100%;
}
</style>
