<template>
  <q-page class="flex flex-center">

     <div class="text-center q-gutter-md"> 
       <div class="text-negative text-weight-bold text-h4">My orders</div>
       <div>Generate your Colissimo mailing labels.</div>
       <div class="q-gutter-sm">
        <q-btn rounded outline color="negative" no-caps :to="{name: 'order'}"  label="Generate Labels on the go" />
        <q-btn rounded outline color="grey" no-caps  label="Generate return labels" />
       </div>

       <q-separator inset />
      {{newData}}
       <q-table :grid="$q.screen.xs" title="Treats" :data="data"
          :columns="columns"
          row-key="name"
        />

     </div>

  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
   data () {
    return {

      columns: [
        {
        name: 'order',
        required: true,
        label: 'Dessert (100g serving)',
        align: 'left',
        field: row => row.name,
        format: val => `${val}`,
        sortable: true
        },
        { name: 'quantity', align: 'center', label: 'Qty', field: 'quantity', sortable: true },
        { name: 'weight', align: 'center', label: 'Weight', field: 'weight', sortable: true },
        { name: 'insured_value', align: 'center', label: 'Value', field: 'insured_value', sortable: true },
        { name: 'address', align: 'center', label: 'Address', field: 'address', sortable: true },
        { name: 'phone', align: 'center', label: 'Phone', field: 'phone', sortable: true },
        { name: 'createdAt', align: 'center', label: 'Date', field: 'createdAt', sortable: true },
        { name: 'Status', align: 'center', label: 'status', field: 'Item status', sortable: true },
        ],

      data: [
        { name: 'Frozen Yogurt', quantity: 159, weight: 6.0, insured_value: 24, address: 4.0, phone: 87,},
        { name: 'Melon', quantity: 159, weight: 6.0, insured_value: 24, address: 4.0, phone: 87,},
        { name: 'Cucumber', quantity: 159, weight: 6.0, insured_value: 24, address: 4.0, phone: 87,},
        { name: 'Ice cream', quantity: 159, weight: 6.0, insured_value: 24, address: 4.0, phone: 87,},
        { name: 'Samosa', quantity: 159, weight: 6.0, insured_value: 24, address: 4.0, phone: 87,},
        { name: 'Coca-cola', quantity: 159, weight: 6.0, insured_value: 24, address: 4.0, phone: 87,},
      ],

      newData:null,

    }
  },

  mounted() {
    // this.getDatas()
    this.getOrder();
  },
  methods: {
    async parcel(){
        await this.$axios.post(process.env.Api + '/api/parcel', this.form)
    },
    async getOrder(){
      const res = await this.$axios.get(process.env.Api + '/api/data');
      this.newData = res.data.data      
    },

    // async getDatas(){
    //  try {
    //    const res = await this.$axios.get('http://localhost:4000/api/data')
    //    console.table(res.data)
    //    this.newData =  res.data;
    //  } catch (error) {
    //    console.log(error)
    //  }

    // },

    onSubmit () {
      if (this.accept !== true) {
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'fas fa-exclamation-triangle',
          message: 'You need to accept the license and terms first'
        })
      }
      else {
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'fas fa-check-circle',
          message: 'Submitted'
        })
      }
    },

    onReset () {
      this.name = null
      this.pswd = null
      this.accept = false
    }
  }
}
</script>


<style>
.space{
  width:22px;
  margin: 0 2px 0 23vw;
}

.fill{
  width: 100%
}
</style>
