<template>
  <q-page padding class="flex flex-center">
    <!-- content -->
     <!-- <q-btn color="white" text-color="black" label="Standard" @click="parcel" />

     <q-btn color="white" text-color="black" label="Standard" @click="parcel1" /> -->
     <index />
  </q-page>
</template>

<script>
import index from 'components/order/index'
export default {
  // name: 'PageName',
  components:{
    index
  },
  data() {
    return {
      // form:{
      //   name: 'Customer Name',
      //   company: 'Company Name',
      //   address: 'Customer Address',
      //   city: 'Eindhoven',
      //   zip: '5642CV',
      //   nl: 'NL',// cOUNTRY
      //   description:'',
      //   email: 'test@test.test',
      //   phone: '+31612345678',
      //   service_point_ID: null, // Service point ID
      //   status: '20190001', // Order number PLEASE AUTO GENERATE THIS BY DATE AND TIME
      //   weight: '2500',
      //   shipping_method_ID: 8, // Shipping method ID,    CREATE DROPDOWN FOR THIS ONE I WILL POPULATE IT
      //   default_sender_address: '', // Default sender address
      //   qty: '',

      //   user_id: 1,
      //   parcel_number: '',
      //   tracking_number: '',
      //   trackingUrl: '',
      //   carrier: '',
      //   insurance: '',
      //   value: '',
      //   status: '',
      //   senderName: 'name',
      //   senderCompany: 'Company',
      //   date:''
      // },
    }
  },
  methods: {
    
    // async parcel(){
    //     await this.$axios.post('http://colissimo1.test/api/parcel', this.form)
    // },

    // async parcel1(){
    //     await this.$axios.get('http://colissimo1.test/api/parcel')
    // },
  },
}
</script>

<style>
</style>
