<template>
  <q-page >
      
     <div class="text-center q-gutter-md q-mt-md">
       <div class="text-negative text-weight-bold text-h4">Subscription</div> 
       <div>Try Wiximo for free for 7 days.</div>
       
       <q-separator inset /> 

       <!-- Content -->
        <div class="flex flex-center">
         
          
            <div class="row flex flex-center">
                <div v-for="(price, index) in prices" :key="index" class="q-ma-sm">
                    <q-card class="text-center text-negative" >
                       
                        <q-card-section >
                            <div class="text-h6">{{price.name}}</div>
                            <div class="text-h4">{{price.amount}} € {{price.type}} <span class="text-overline"> {{price.suffix}} </span> </div>
                            <div class="text-caption">{{price.description}}</div>
                        </q-card-section>

                        <q-separator inset /> 

                        <q-card-section >
                            <div v-for="(item, index) in price.features" :key="index">
                                <q-item >
                                    <q-item-section avatar>
                                        <q-icon name="ion-checkmark-circle-outline" class="text-positive"/>
                                    </q-item-section>
                                    <q-item-section>
                                        <q-item-label caption class="text-left text-black">{{item.feature}}</q-item-label>
                                    </q-item-section>
                                </q-item>
                            </div>
                            
                        </q-card-section>

                        <q-card-section>
                             <q-btn rounded color="negative" text-color="white" :label="subBtn.free" :to="{ name: 'checkout', params: { name:price.name, price:price }}"/>
                        </q-card-section>

                    </q-card>
                </div>
            </div>
        </div>
     </div>


  </q-page>
</template>

<script>


export default {
  
  name: 'PageIndex',
   data () {
    return {
      open: false,
      tab: 'shipping',
      accept: false,
      splitterModel: 20,
      notifications: ['friend'],
      subBtn:{Pro:"I Subscribe", free:"Try it for free"},
      subs:[
        {name: "FedEx",upload:1, total:20, type: "free Trial"},
        {name: "DHL",upload:1, total:20, type: "free Trial"},
        ],
      Pref: {
          one: "If your product sheets do not define weight, please specify a generic weight for a quantity: ",
          two: "Default sending method: ",
      },
     prices: null,
      Sub: {
          one: "Subscription : ",
          two: "Your 'Standard' subscription will be renewed on 21/04/2019 (25 €) ",
      }
    }
  },

  mounted() {
    this.loadPrice();
  },


  methods: {
    onSubmit () {
      if (this.accept !== true) {
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'fas fa-exclamation-triangle',
          message: "Note: You didn't sign this"
        })
      }
      else {
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'fas fa-check-circle',
          message: 'Submitted'
        })
      }
    },

    async loadPrice(){
      const res = await this.$axios.get(process.env.Api + '/api/price');
      this.prices = res.data.data      
    }
  }
}
</script>


<style>
.space{
  width:22px;
  margin: 0 2px 0 23vw;
}

.fill{
  width: 100%
}
</style>
