<template>
  <q-page class="flex flex-center">

     <div class="text-center q-gutter-md q-mt-md " :grid="$q.screen.xs">
       <div class="text-negative text-weight-bold text-h4">Settings</div> 
       <div>Manage your account and its information.</div>
       <q-separator inset /> 

       <!-- Content -->
       <div class="flex flex-center">
          <q-splitter v-model="splitterModel" >

            <!-- Tab-heading -->
            <template v-slot:before> 
                <q-tabs v-model="tab" vertical class="text-negative" >
                    <q-tab name="shipping" icon="local_shipping" label="shipping prefrences" class="gt-sm"/>
                     <q-tab name="shipping" icon="local_shipping" class="lt-md"/>
                    <q-tab name="address" icon="location_on" label="Sender Address" class="gt-sm"/>
                    <q-tab name="address" icon="location_on" class="lt-md"/>
                    <q-tab name="Subscription" icon="subscriptions" label="Subscription" class="gt-sm"/>
                    <q-tab name="Subscription" icon="subscriptions"  class="lt-md"/>
                </q-tabs>
            </template>

            <!-- Tab content -->
            <template v-slot:after>
              <q-tab-panels v-model="tab" animated transition-prev="jump-up" transition-next="jump-up">
                <!-- Shipping -->
                <q-tab-panel name="shipping" class="text-left">
                  <!-- form -->
                  <q-form @submit="onSubmit" class="q-pa-sm">

                    <!-- Package weight -->
                    <p>{{Pref.one}}</p>
                    <q-input style="width: 40%" filled type="number" v-model="accept" label="Weight *" suffix="kg" lazy-rules :rules="[  val => val !== null && val !== '' || 'Please type your packages weight', val => val > 0 && val < 100 || 'Please fill your packages weight' ]">
                      <template v-slot:prepend>
                        <q-icon name="fas fa-weight-hanging" />
                      </template>
                    </q-input>
                    
                    <!-- signature -->
                    <p>{{Pref.two}}</p>
                    <q-item multiline  tag="label" v-ripple>
                      <q-item-section>
                        <q-item-label>Colissimo with signature</q-item-label>
                      </q-item-section>
                      <q-item-section avatar>
                        <q-toggle v-model="notifications" val="picture" />
                      </q-item-section>
                    </q-item>
                    
                    <!-- save button -->
                    <div>
                      <q-btn label="Save" type="submit" color="negative" class="q-mt-md flex-center fill"/>
                    </div>

                  </q-form>
                </q-tab-panel>
                
                <!-- address panel -->
                <q-tab-panel name="address" class="text-left q-pa-sm">
                  <!-- form -->
                  <div class="text-h4">Fill your info below</div>
                  <q-form @submit="onSubmit" class="q-pa-md">
                    <!-- Package weight -->
                    <div class="">
                      <div class="q-gutter-md row items-start">
                        
                        <q-input v-model="password" filled type="text" hint="8 Example Street" label="Address" />
                        <q-input v-model="password" filled type="text" hint="Example city" label="city" />
                        <q-input v-model="password" filled type="number" hint="12345" label="Postal Code" />
                        <q-input v-model="email" filled type="email" hint="johndoe@example.com" label="Email" />
                        <q-input v-model="tel" filled type="tel" hint="01-XXXX-XX00" label="Telephone number" />
                      </div>
                    </div>
                    <!-- save button -->
                    <div>
                      <q-btn label="Save" type="submit" color="negative" class="q-mt-md flex-center fill"/>
                    </div>
                    
                  </q-form>
                </q-tab-panel>
                
                <!-- subscription panel -->
                <q-tab-panel name="Subscription" class="text-left q-pa-sm">
                    <p>{{Sub.one}}</p>
                    <!-- Subscription cards -->
                    <div  v-for="(sub, index) in subs" :key="index" >
                      <q-card class="my-card row flex flex-center q-mt-md " >
                        <q-card-section  class="col-xs-12 col-sm-6 col-md-4 row text-center">
                          <div class="col-xs-12 col-sm-6 col-md-6 q-pl-lg">
                            <div class="text-h5">{{sub.name}}</div>
                            <div class="text-caption">{{sub.type}}</div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-6 q-pl-lg">
                            <div class="text-subtitle1 text-bold">Uploads</div>
                            <div class="text-caption"> {{sub.upload}}/{{sub.total}}</div>
                          </div>
                        </q-card-section>

                        <q-separator />

                        <q-card-actions  vertical class="col-xs-12 col-sm-6 col-md-4">
                              <q-btn class="bg-negative text-white">Unsubscribe</q-btn>
                              <q-btn class="bg-green text-white">Go Pro</q-btn>
                        </q-card-actions>    
                      </q-card>
                    </div>
                    <!-- Notification Banner -->
                    <q-banner rounded dense class="bg-primary text-white q-mt-md">
                      {{Sub.two}}
                      <template v-slot:action>
                        <q-btn flat color="white" label="Update Credit Card" />
                      </template>
                    </q-banner>
                      
                    
                    
                </q-tab-panel>
              </q-tab-panels>
            </template>

            </q-splitter>
        </div>
       
     </div>

  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
   data () {
    return {
      tab: 'shipping',
      accept: false,
      splitterModel: 20,
      notifications: ['friend'],
      subs:[
        {name: "FedEx",upload:1, total:20, type: "free Trial"},
        {name: "DHL",upload:1, total:20, type: "free Trial"},
        ],
      Pref: {
          one: "If your product sheets do not define weight, please specify a generic weight for a quantity: ",
          two: "Default sending method: ",
      },
      addr: {
          one: "If your product sheets do not define weight, please specify a generic weight for a quantity: ",
          two: "Default sending method: ",
      },
      Sub: {
          one: "Subscription : ",
          two: "Your 'Standard' subscription will be renewed on 21/04/2019 (25 €) ",
      }
    }
  },

  methods: {
    onSubmit () {
      if (this.accept !== true) {
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'fas fa-exclamation-triangle',
          message: "Note: You didn't sign this"
        })
      }
      else {
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'fas fa-check-circle',
          message: 'Submitted'
        })
      }
    },
  }
}
</script>


<style>
.space{
  width:22px;
  margin: 0 2px 0 23vw;
}

.fill{
  width: 100%
}
</style>
