<template>
  <div>

  </div>
</template>

<script>
export default {
  methods: {
     async getRequest(endPoint){
        try {
          this.errors = null
          this.loading = true
          const response = this.$axios.get(process.env.Api+endPoint)
          this.$q.notify({color: 'primary', message: response.data.message, position: 'bottom-left'})
          this.loading = false
          return Promise.resolve(response)
        } catch (error) {
            this.$q.notify({color: 'negative', message: error.response.data.message, position: 'bottom-left'})
            this.errors = error.response.data.errors
            this.loading = false
            return Promise.resolve(error)
        }
      },

      async postRequest(endPoint, form){
        try {
          // this.errors = null
          // this.loading = true
          const response = await this.$axios.post(`http://colissimo1.test${endPoint}`, form)
          // this.$q.notify({color: 'primary', message: response.data.message, position: 'bottom-left'})
          // this.loading = false
          // return Promise.resolve(response)
        } catch (error) {
          // this.$q.notify({color: 'negative', message: error.response.data.message, position: 'bottom-left'})
          // // this.errors = error.response.data.errors
          // this.loading = false
          // return Promise.resolve(error)
        }
      },

      async putRequest(){
        try {
          const response = this.$axios.put(process.env.Api+endPoint)
        } catch (error) {
          this.$q.notify({color: 'negative', message: error.response.data.message, position: 'bottom-left'})
          this.errors = error.response.data.errors
          this.loading = false
          return Promise.resolve(error)
        }
      },

      async patchRequest(){
        try {
          const response = this.$axios.patch(process.env.Api+endPoint)
        } catch (error) {
          this.$q.notify({color: 'negative', message: error.response.data.message, position: 'bottom-left'})
          this.errors = error.response.data.errors
          this.loading = false
          return Promise.resolve(error)
        }
      },

      async deleteRequest(){
        try {
          const response = this.$axios.delete(process.env.Api+endPoint)
        } catch (error) {
          this.$q.notify({color: 'negative', message: error.response.data.message, position: 'bottom-left'})
          this.errors = error.response.data.errors
          this.loading = false
          return Promise.resolve(error)
        }
      },
  },
}
</script>

<style>
</style>
