<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" href="https://static.wixstatic.com/media/071902_259e6af9fedd440f9b7dc2fa6beedddd~mv2.png/v1/fill/w_60,h_60,al_c,q_80,usm_0.66_1.00_0.01/wix2colissimo_logo.webp">
    <link rel="icon" type="image/png" sizes="16x16" href="https://static.wixstatic.com/media/071902_259e6af9fedd440f9b7dc2fa6beedddd~mv2.png/v1/fill/w_60,h_60,al_c,q_80,usm_0.66_1.00_0.01/wix2colissimo_logo.webp">
    <link rel="icon" type="image/png" sizes="32x32" href="https://static.wixstatic.com/media/071902_259e6af9fedd440f9b7dc2fa6beedddd~mv2.png/v1/fill/w_60,h_60,al_c,q_80,usm_0.66_1.00_0.01/wix2colissimo_logo.webp">
    <link rel="icon" type="image/png" sizes="96x96" href="https://static.wixstatic.com/media/071902_259e6af9fedd440f9b7dc2fa6beedddd~mv2.png/v1/fill/w_60,h_60,al_c,q_80,usm_0.66_1.00_0.01/wix2colissimo_logo.webp">
    <link rel="icon" type="image/ico" href="https://static.wixstatic.com/media/071902_259e6af9fedd440f9b7dc2fa6beedddd~mv2.png/v1/fill/w_60,h_60,al_c,q_80,usm_0.66_1.00_0.01/wix2colissimo_logo.webp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/js/uikit.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
