<template>
  <q-layout view="lHh Lpr lFf">

    <q-header elevated>
       

        <!-- <q-toolbar-title class="text-weight-bold">
         <router-link to="/">5p<span class="text-positive">a</span>ys</router-link> 
        </q-toolbar-title>

        
        <q-btn icon="ion-ios-gift" outlined class="gt-xs" flat no-caps :to="{name: 'pricing'}"  label="Pricing" />
        <q-btn icon="ion-settings" class="gt-xs" flat no-caps :to="{name: 'developers'}" label="Developers"  />
        <q-btn icon="ion-pricetags" class="gt-xs" flat no-caps :to="{name: 'Blog'}" label="Products" />
        <q-btn icon="ion-help" class="gt-xs" flat no-caps :to="{name: 'Learn'}" label="Learn"  />

        <q-btn class="q-mx-xl" color="primary" no-caps label="Login" />
        <q-btn class="lt-sm" flat icon="menu" @click="leftDrawerOpen = true" />
        
        
      </q-toolbar> -->

      <q-toolbar class="bg-white text-negative">
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>
        
        <q-space />

       <q-item clickable tag="a" :to="{name: 'index'}">

          <q-item-section avatar>
            <img :src="img" style="width:30px;">
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-negative" >Colissimo Entreprise</q-item-label>
          </q-item-section>
          
          <div class="q-px-sm ">
            
          </div>
        </q-item>
        
        

        
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Navigation</q-item-label>

        <q-item clickable tag="a" :to="{name: 'index'}">
          <q-item-section avatar>
            <q-icon name="ion-ios-home" class="text-negative"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Home</q-item-label>
            <q-item-label caption>Welcome to Colissimo</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable tag="a" :to="{name: 'orders'}">
          <q-item-section avatar>
            <q-icon name="ion-ios-gift" class="text-negative"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Orders</q-item-label>
            <q-item-label caption>Generate your Colissimo mailing labels.</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable tag="a" :to="{name: 'settings'}">
          <q-item-section avatar>
            <q-icon name="ion-settings" class="text-negative"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Settings</q-item-label>
            <q-item-label caption>Manage your account and its information.</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable tag="a" :to="{name: 'price'}">
          <q-item-section avatar>
            <q-icon name="ion-pricetags" class="text-negative"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Prices</q-item-label>
            <q-item-label caption>Subscription</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable tag="a" :to="{name: 'faq'}">
          <q-item-section avatar>
            <q-icon name="ion-help" class="text-negative"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>FAQ</q-item-label>
            <q-item-label caption>Need help? See our Frequently Asked Questions.</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable tag="a" target="_blank" href="https://twitter.quasar.dev">
          <q-item-section avatar>
            <q-icon name="ion-ios-contacts" class="text-negative"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Support</q-item-label>
            <q-item-label caption>Need help ? Contact us.</q-item-label>
          </q-item-section>
        </q-item>

        

      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      img: "https://static.wixstatic.com/media/071902_259e6af9fedd440f9b7dc2fa6beedddd~mv2.png/v1/fill/w_60,h_60,al_c,q_80,usm_0.66_1.00_0.01/wix2colissimo_logo.webp"
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
